.wrap {
    background: #000;
    font-family: 'nanumsquare';
    overflow: hidden;

    .section {
        color: #fff;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: inline-block;
        box-sizing: border-box;

        .section_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        h1 {
            font-size: 2.3em;
        }

        .text_box {
            width: 90%;
            display: block;
            margin: 0 auto;
        }

        p {
            font-size: 0.9em;
        }
    }
}