.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-height: 100%;
	.table_container {
		width: 100%;
		max-width: 100%;
		flex: 1 0 0;
		background-color: inherit;
		overflow-x: auto;
		border: 1px solid gray;
		border-radius: 5px;
	}
	.button_container {
		width: 100%;
		max-width: 100%;
		height: 5cqb;
		display: flex;
		flex-direction: row-reverse;
		align-self: flex-end;
		align-items: center;
	}
}

.headItem {
	height: 4.5cqb;
	font-size: 1.5cqb;
	border-radius: 0.1cqb;
}

// td:first-child {
// 	border-left: none;
// }

// td:last-child {
// 	border-right: none;
// }
