.container {
    width: 720px;
    height: 750px;
}

thead {
    position: sticky;
    top: 0;
}

td {
    border: 1px solid #ccc;
    border-top: none;
}

td:first-child{
    border-left: none;
}

td:last-child{
    border-right: none;
}