.Page {
	display: flex;
	width: 100vw;
	height: 100vh;
	place-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	.Header {
		height: auto;
		flex-basis: 0;
	}
	.Panel {
		position: relative;
		width: 90%;
		height: calc(90% - 80px);
		// top: 80px;
		// flex: 1 0 0;
	}
}
