.Page {
	display: flex;
	width: 100vw;
	height: 100vh;
	place-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	.Header {
		height: auto;
		flex-basis: 0;
	}
	.Panel {
		position: relative;
		width: 90%;
		height: calc(90% - 80px);
		// top: 80px;
		// flex: 1 0 0;
	}
}

.contentwrap {
	margin-top: 60px;
}

.contents {
	overflow: auto;
	border: 1px solid #000;
	border-radius: 5px;
	margin-left: 40px;
}

.buttonWrap {
	position: fixed;
	bottom: 90px;
}

.buttonBox {
	margin-top: 10px;
	margin-bottom: 10px;
}
