* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
	color: inherit;
}

body {
	overflow-x: hidden;
	background-color: #fff;
}

input[type="checkbox"] {
	width: 30px;
	height: 30px;
}
