.container {
	display: flex;
	width: 100%;
	height: 100px;
	place-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	.item {
		position: relative;
		height: 100%;
		flex: 1 0 0;
		.ToggleButton {
			width: 100%;
			height: 100%;
		}
	}
	.usedCondtion {
		background-color: cornflowerblue;
	}
}
