.container {
	display: flex;
	width: 100%;
	height: 100px;
	place-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	.item {
		position: relative;
		height: 100%;
		flex: 1;
		.ToggleButton {
			width: 100%;
			height: 100%;
		}
	}
	.usedCondtion {
		background-color: cornflowerblue;
	}
}

.btnbox {
	width: 13.5cqb;
	height: 4.5cqb;
	font-size: 1.5cqb;
	border-radius: 1cqb;
}

.dropdownMenu {
	width: 13.5cqb;
	height: auto;
	justify-content: center;
	.dropdownItem {
		height: 4cqb;
		width: 100%;
		align-items: center;
	}
	.input {
		font-size: 1.5cqb;
	}
	.a {
		font-size: 1.5cqb;
	}
	.button {
		font-size: 1cqb;
		width: 80%;
		margin-left: 10%;
	}
}

.select {
	max-height: 25cqb;
	overflow-y: auto;
}

.filtering {
	//max-height: 25cqb;
	//overflow-y: auto;
}
